# Python Code Formatter
black >=23.10.1, <23.11.0

# Static Type Checking
mypy >=1.7.0, <1.8.0

# Python Unit Test
pytest >=7.4.3, <7.5.0

# Image Libraries for gifs
svgwrite >=1.4.3, <1.5.0
cairosvg >=2.7.1, <2.8.0
pillow >=10.1.0, <10.2.0

# FasAPI
fastapi >=0.104.1, <0.105.0
uvicorn >=0.24.0, <0.25.0